.bmi-result {
    border: solid 2px;
    background-color: rgb(240, 247, 255);
    color: black;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    padding: 20px 30px 20px 30px;
}