.calculator {
    display: flex;
    flex-direction: column;
    padding: 25px 10% 25px 10%;
    gap: 25px 0;
    border: solid 2px black;
    border-radius: 25px;
    background-color: rgb(71, 96, 220);
    color: white;
}

.calculator__header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}